.homepage {
  background: none;
  width: 100vw;
  height: 100vh; }
  .homepage .field {
    height: 60vh;
    display: flex;
    align-items: flex-end; }
  .homepage .title {
    color: white;
    height: 200px;
    text-align: center;
    padding-top: 100px;
    font-size: 3em; }
  .homepage .button {
    width: 250px;
    height: 80px;
    font-size: 2em;
    margin-bottom: 20px; }
  .homepage .card-content {
    padding: 0 80px; }

.right {
  margin-left: auto; }
