#form-container {
    padding-left: 100px;
    padding-right: 100px;
}

.card {
  background: rgba(0,0,0,0.2);

  .title {
    color: white;
    text-align: center;
  }

  label {
    color: white;
    font-weight: 400 !important;
  }

  .control {
    &.login {
      padding: 20px 0;
    }
    button {
      width: 100%;
    }
  }
}
