.main_content {
  background-color: white;
  width: 40vw;
  height: 55vh;

  padding: 10px;
  .title {
    text-align: center;
    margin: 10px 0px;
  }

  .content {
    margin-top: 20px;
    .item_input {
      margin-top: 10px;
    }
  }
}
