
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f7f6;
    background-image: url(image/background.jpg);
}

.card{
  width: 40vw;
  height: 55vh;
}
